
@{
    ViewBag.Title = "Index";
}

<h2>User Credit Monitoring Service Set Up</h2>

<p>@Html.ActionLink("Next Step", "InitialCreditReport", "NewUser", new { area = "" }, new { @class = "btn btn-default" })</p>