
@{
    ViewBag.Title = "NewCreditReport";
}

<h2>New Credit Report</h2>

<p>@Html.ActionLink("Run Credit Checker", "VerifyCreditReport", "NewUser", new { area = "" }, new { @class = "btn btn-default" })</p>
<p>@Html.ActionLink("Return to Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "btn btn-default" })</p>