
@{
    ViewBag.Title = "RepaymentSchedule";
}

<h2>Repayment Schedule</h2>

<p>@Html.ActionLink("Return to Dashboard", "Index", "Dashboard", new { area = "" }, new { @class = "btn btn-default" })</p>